.bundle
log/*.log
tmp/**/*
tmp/*
*.swp
.DS_Store
public/assets
.idea/workspace.xml
.idea/*

# Ignore application configuration
/config/application.yml

Supprimerait .idea/runConfigurations/

Supprimerait .idea/
Supprimerait tmp/
