<div class="row search_form">
  <%= simple_form_for @search do |f| %>
    <div class="col-xs-12 col-sm-4">
      <%= f.input :intervention, label: "", collection: interventions_collection, input_html: {class: "select2"} %>
    </div>

    <div class="col-xs-12 col-sm-4">
      <%= f.input :code_postal, label: "", collection: ["13400", "13001"], input_html: {class: "select2_code_postal"}  %>
    </div>

    <div class="col-xs-12 col-sm-4 ">
      <%= f.submit "Vos devis en temps réel", class: "btn btn-yellow" %>
    </div>
  <% end %>
</div>

