<h1>Avec<strong> Garagister</strong> vous allez changer d'avis sur les garages</h1>
  <h2>Comparateur de garages équitable</h2>
   <div>

  </div>

  <div class="container text-center"> Pourquoi nous faire confiance ?


    <div class="row">

    <div class="col-xs-12 col-sm-4">
      <%= image_tag "bons-garages.png" %>
      <p>
      Garages vérifiés par un mécanicien
      </p>

    </div>

    <div class="col-xs-12 col-sm-4">
      <%= image_tag "garage-pas-cher.png" %>
      <p>
      Economies à la clef
      </p>

    </div>

    <div class="col-xs-12 col-sm-4">
      <%= image_tag "petits-garagistes-passionnes.png" %>
      <p>
      Economies à la clef
      </p>

    </div>


    </div>



  </div>
  <p></p>
