<div class="footer">
  <hr />


    <div class="cgu">
     <a href="http://www.garagister.com/about/cgu/">Conditions générales d'utilisateur</a>
     </div>

      <a href="https://www.facebook.com/Garagister-1177722948919327/?fref=ts"<i class="fa fa-facebook" aria-hidden="true" style="font-size:50px" href=></i></a>

      <a href="https://twitter.com/garagister"> <i class="fa fa-twitter" aria-hidden="true" style="font-size:50px"></i></a>

      <a href="https://www.youtube.com/watch?v=-wHOS586xo0"><i class="fa fa-youtube" aria-hidden="true" style="font-size:50px" ></i></a>
      </div>


</div>
