<footer class="footer pull-right">
  <ul>
    <li>
      <a href="https://www.facebook.com/Garagister-1177722948919327/?fref=ts">
        <i class="fa fa-facebook" aria-hidden="true" style="font-size:20px"></i>
      </a>
    </li>

    <li>
      <a href="https://twitter.com/garagister">
        <i class="fa fa-twitter" aria-hidden="true" style="font-size:20px"></i>
      </a>
    </li>

    <li>
      <a href="https://www.youtube.com/watch?v=-wHOS586xo0">
        <i class="fa fa-youtube" aria-hidden="true" style="font-size:20px" ></i>
      </a>
    </li>

    <li>
      <a href="http://www.garagister.com/about/cgu/">Conditions générales d'utilisateur</a>
    </li>

  </ul>
</footer>
